{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
 <!-- Basic Page Needs -->
  <meta charset="utf-8">
  <title>MLB cashman || Catalog</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Mobile Specific Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- FONT -->
  

  <!-- CSS -->
  
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
  <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <!-- Favicon -->
  <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}">

  <!-- Custom -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    
    {%  block scripts %}
    {%  endblock scripts %}

</head>
<body class="{% block body_class %}{% endblock body_class %}">
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-default" style="background-color:#DCDCDC;border-bottom:1px solid;">
                <div class="container-fluid">
                    <div class="navbar-header">
                    </div>
                    <ul class="nav navbar-nav" style="color:white;font-size:15px;">
                        <li><a href="/"><b>Upload Files</b></a></li>
                        <li><a href="/displayAll/"><b>Cataloging</b></a></li>
                        <li><a href="#"><b>Find Photos</b></a></li> 
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    {% block content %}
    {%  endblock content %}
    {%  block footer %}
    {%  endblock footer %}
</body>
</html>
