{% extends 'cashman/base.html' %}
{% load staticfiles %}

{%  block scripts %}
<script src="{% static 'js/ng/controllers/images_controller.js' %}"></script>
{%  endblock scripts %}

{% block content %}
<div class="container content" ng-app="imagesPage"  ng-controller="imagesPageController">  
  <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading">
                Link Images with Category
            </div>
            <div class="panel-body">
               
                {% verbatim %}
                <div ng-repeat="photo in photos">
                    <img class="img img-thumbnail" ng-src="{{ photo.image.small_square_crop }}" alt="no"><hr>
                </div>
                {% endverbatim %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}