{% extends 'cashman/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="panel panel-primary">
            <div class="panel-heading text-center">
                <font style="font-weight:bold;font-size:15px;">Select Images To Upload</font>
            </div>
            <div class="panel-body">
                <form role="form" method="post" enctype="multipart/form-data" action="/doUpload/">
                    {% csrf_token %}
                    <div class="col-md-12 form-group">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-6">
                            <div class="input-group">
                                <input type="text" id="files" class="form-control" placeholder="No files selected..." readonly />
                                <span class="input-group-btn btn-success"> 
                                    <label class="btn btn-file">
                                        Browse <input type="file" name="file" multiple id="btn-file" style="display: none;">
                                    </label>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-3">
                        </div>
                    </div>
                    <div class="col-md-12 form-group">
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">Upload</button>
                        </div>
                    </div>
                    <hr>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
document.getElementById("btn-file").addEventListener("change", function() {
    document.getElementById("files").value=this.files.length + " file(s) selected... "
});
</script>

{% endblock content %}