{%  extends 'games/base.html.bak' %}
{% load staticfiles %}

{%  block scripts %}
    <script src="{% static 'js/ng/controllers/edit_controller.js' %}"></script>

    <style>
    .chk  {
        width: 30px;
        height: 30px;
        position: absolute;
        float: right;
    }
    </style>
{%  endblock scripts %}

{% block content %}
    {% verbatim %}
    <div ng-app="editPage" ng-controller="editPageController" ng-cloak="">
        <div ng-click="changeTeam()">
            Switch team
        </div>
        <br/>

        <input type="button" value="Proceed" ng-click="edit_photos()">
        <div ng-repeat="photo in photos" ng-click="select_photo(photo.ImageID)">
            <div class="checkbox">
                <input type="checkbox" name="check" class="chk" ng-checked="selectedPhotos.indexOf(photo.ImageID) != -1">
            </div>
            <img class="img"  ng-src="/api/thumbnail?image_id={{ photo.ImageID }}">
        </div>

    </div>
    {% endverbatim %}
{% endblock content %}