{% extends 'games/base.html' %}
{% load staticfiles %}

{%  block scripts %}
    <script src="{% static 'js/ng/controllers/photos_controller.js' %}"></script>
    <script src="{%  static 'js/lib/jquery.row-grid.js' %}"></script>
    <script src="{%  static 'js/lib/custom-form-elements.js' %}"></script>
    <script>
        $(document).ready(function(){
            /* Start rowGrid.js */
            $(".container-gallery").rowGrid({itemSelector: ".item", minMargin:3, maxMargin:3, firstItemClass: "first-item"});
        });
        window.setInterval(function () {
            $(".container-gallery").rowGrid({itemSelector: ".item", minMargin:3, maxMargin:3, firstItemClass: "first-item"});
        }, 3000);
        function refresh_layout(){
            $(".container-gallery").rowGrid({itemSelector: ".item", minMargin:3, maxMargin:3, firstItemClass: "first-item"});
        }
    </script>
    <style>
        .disabled {
            opacity: 1 !important;
        }
    </style>
{%  endblock scripts %}

{% block header %}
    <div class="header">
        <a href="/cashman/" class="logo"><img src="{%  static 'images/logo.png' %}" alt="MLB cashman"></a>
        <a id="open-panel" style="display:none;" class="right menu-bar-style"><i class="fa fa-bars"></i></a>
        <a id="open-toppanel" class="right menu-bar-style"><i class="fa fa-bars"></i></a>
    </div>
{% endblock header %}

{% block content %}
{% block body_class %}angels-theme-page{% endblock body_class %}
{% verbatim %}

    <!-- Primary Page Layout -->
    <div class="content" ng-app="photosPage" ng-controller="photosPageController" ng-cloak="" style="height:100%;">
    <div class="u-cf"></div>
    <div id="top-panel" style="display:none;">
            <p class="game-gallery-note">Viewing Game<br>{{ selected_game.gdate }}<br><span>{{ selected_gallery.Barcode }}</span></p>
            <div class="game-gallery-options">
                <select
                    ng-change="selectGame()"
                    ng-model="selected_game"
                    ng-init="selected_game = selected_game"
                    ng-options="game as game.gdate for game in games">
                </select>
            </div>
            <div class="game-gallery-options">
                <select
                    ng-change="findPhotos()"
                    ng-model="selected_gallery"
                    ng-init="selected_gallery = selected_gallery"
                    ng-options="gallery as gallery.Barcode for gallery in galleries">
                </select>
            </div>
            <p class="photo-count"><span>{{ selectedPhotos.length }}</span><br>photos selected</p>
            <a class="proceed-btn" ng-click="edit_photos()">Proceed to Create Album</a>
            <a class="switchteam-btn" ng-click="changeTeam()">Switch Team</a>
        </div>
    <div class="gallery-wrap">

      <div class="container-gallery">
        <div class="item"  ng-repeat="photo in photos" ng-click="select_photo(photo.ImageID)">
            <input type="checkbox" name="check" class="styled" disabled="disabled" ng-checked="selectedPhotos.indexOf(photo.ImageID) != -1">
            <img ng-src="/api/thumbnail?image_id={{ photo.ImageID }}" height="175" />
        </div>
      </div>

    <div class="side-panel">
        <div class="side-fold">
        <div class="info-data">

            <a id="close-panel">Hide X </a>
            <div class="u-cf"></div>
        <p class="game-gallery-note">Viewing Game<br>{{ selected_game.gdate }}<br><span>{{ selected_gallery.Barcode }}</span></p>
        <div class="game-gallery-options">
            <select
                ng-change="selectGame()"
                ng-model="selected_game"
                ng-init="selected_game = selected_game"
                ng-options="game as game.gdate for game in games">
            </select>
        </div>
        <div class="game-gallery-options">
            <select
                ng-change="findPhotos()"
                ng-model="selected_gallery"
                ng-init="selected_gallery = selected_gallery"
                ng-options="gallery as gallery.Barcode for gallery in galleries">
            </select>
        </div>
        <p class="photo-count"><span>{{ selectedPhotos.length }}</span><br>photos selected</p>
        <a class="proceed-btn">Proceed to Create Album</a>
        <a class="switchteam-btn">Switch Team</a>

        </div>
        </div>
    </div>
    </div>
</div>
{% endverbatim %}
<!-- End Document -->
<script type="text/javascript">
$('#close-panel').click(function () {
    $("div.info-data").hide();
    $("div.side-panel").css("display","none");
    $("#open-panel").show();
    $("#close-panel").hide();
    $(document).ready(function(){
      /* Start rowGrid.js */
      $(".container-gallery").rowGrid({itemSelector: ".item", minMargin:3, maxMargin:3, firstItemClass: "first-item"});
    });
    
});
    
$('#open-panel').click(function () {
    $("#open-panel").hide();
    $("#close-panel").show();
    $("div.info-data").show();
    $("div.side-panel").css("display","table-cell");
    

    $(document).ready(function(){
      /* Start rowGrid.js */
      $(".container-gallery").rowGrid({itemSelector: ".item", minMargin:3, maxMargin:3, firstItemClass: "first-item"});
    });
    
});    
    
$('#open-toppanel').click(function () {
    $("#top-panel").toggle(200);
});
$( window ).resize(function() {
    $(".container-gallery").rowGrid({itemSelector: ".item", minMargin:3, maxMargin:3, firstItemClass: "first-item"});
});
$( window).change(function(){
    $(".container-gallery").rowGrid({itemSelector: ".item", minMargin:3, maxMargin:3, firstItemClass: "first-item"});
});
</script>

{% endblock content %}
