/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/


/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Grid
- Base Styles
- Typography
- Links
- Buttons
- Forms
- Lists
- Code
- Tables
- Spacing
- Utilities
- Clearing
- Media Queries
*/


/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    width: 85%;
    padding: 0; }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {
    width: 80%; }
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */


/* Generated by Font Squirrel (http://www.fontsquirrel.com) on December 1, 2015 */



@font-face {
    font-family: 'quicksanddash';
    src: url('../fonts/quicksand_dash-webfont.eot');
    src: url('../fonts/quicksand_dash-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand_dash-webfont.woff2') format('woff2'),
         url('../fonts/quicksand_dash-webfont.woff') format('woff'),
         url('../fonts/quicksand_dash-webfont.ttf') format('truetype'),
         url('../fonts/quicksand_dash-webfont.svg#quicksanddash') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandbold';
    src: url('../fonts/quicksand-bold-webfont.eot');
    src: url('../fonts/quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-bold-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-bold-webfont.woff') format('woff'),
         url('../fonts/quicksand-bold-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-bold-webfont.svg#quicksandbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandbold_italic';
    src: url('../fonts/quicksand-bolditalic-webfont.eot');
    src: url('../fonts/quicksand-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-bolditalic-webfont.woff') format('woff'),
         url('../fonts/quicksand-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-bolditalic-webfont.svg#quicksandbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksanditalic';
    src: url('../fonts/quicksand-italic-webfont.eot');
    src: url('../fonts/quicksand-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-italic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-italic-webfont.woff') format('woff'),
         url('../fonts/quicksand-italic-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-italic-webfont.svg#quicksanditalic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandlight';
    src: url('../fonts/quicksand-light-webfont.eot');
    src: url('../fonts/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-light-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-light-webfont.woff') format('woff'),
         url('../fonts/quicksand-light-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-light-webfont.svg#quicksandlight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandlight_italic';
    src: url('../fonts/quicksand-lightitalic-webfont.eot');
    src: url('../fonts/quicksand-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-lightitalic-webfont.woff') format('woff'),
         url('../fonts/quicksand-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-lightitalic-webfont.svg#quicksandlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'quicksandregular';
    src: url('../fonts/quicksand-regular-webfont.eot');
    src: url('../fonts/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quicksand-regular-webfont.woff2') format('woff2'),
         url('../fonts/quicksand-regular-webfont.woff') format('woff'),
         url('../fonts/quicksand-regular-webfont.ttf') format('truetype'),
         url('../fonts/quicksand-regular-webfont.svg#quicksandregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latolight';
    src: url('../fonts/lato-light-webfont.eot');
    src: url('../fonts/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

html {
  font-size: 62.5%; height: 100%;}
body {
  font-size: 1.5em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'quicksandregular';
  color: #222;  height: 100%;}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; }
h1 { font-size: 4.0rem; line-height: 1.2;  letter-spacing: -.1rem;}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: -.1rem; }
h4 { font-size: 2.4rem; line-height: 1.35; letter-spacing: -.08rem; }
h5 { font-size: 1.8rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.5rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 5.0rem; }
  h2 { font-size: 4.2rem; }
  h3 { font-size: 3.6rem; }
  h4 { font-size: 3.0rem; }
  h5 { font-size: 2.4rem; }
  h6 { font-size: 1.5rem; }
}

p {
  margin-top: 0; }


/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }


/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #333;
  border-color: #888;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #33C3F0;
  border-color: #33C3F0; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #FFF;
  background-color: #1EAEDB;
  border-color: #1EAEDB; }


/* Forms
–––––––––––––––––––––––––––––––––––––––––––––––––– */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
  height: 38px;
  padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
  background-color: #fff;
  border: 1px solid #D1D1D1;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box; }
/* Removes awkward default styles on some inputs for iOS */
input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }
textarea {
  min-height: 65px;
  padding-top: 6px;
  padding-bottom: 6px; }
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #33C3F0;
  outline: 0; }
label,
legend {
  display: block;
  margin-bottom: .5rem;
  font-weight: 600; }
fieldset {
  padding: 0;
  border-width: 0; }
input[type="checkbox"],
input[type="radio"] {
  display: inline; }
label > .label-body {
  display: inline-block;
  margin-left: .5rem;
  font-weight: normal; }


/* Lists
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul {
  list-style: circle inside; }
ol {
  list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ul ul,
ul ol,
ol ol,
ol ul {
  margin: 1.5rem 0 1.5rem 3rem;
  font-size: 90%; }
li {
  margin-bottom: 1rem; }


/* Code
–––––––––––––––––––––––––––––––––––––––––––––––––– */
code {
  padding: .2rem .5rem;
  margin: 0 .2rem;
  font-size: 90%;
  white-space: nowrap;
  background: #F1F1F1;
  border: 1px solid #E1E1E1;
  border-radius: 4px; }
pre > code {
  display: block;
  padding: 1rem 1.5rem;
  white-space: pre; }


/* Tables
–––––––––––––––––––––––––––––––––––––––––––––––––– */
th,
td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }


/* Spacing
–––––––––––––––––––––––––––––––––––––––––––––––––– */
button,
.button {
  margin-bottom: 1rem; }
input,
textarea,
select,
fieldset {
  margin-bottom: 1.5rem; }
pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 2.5rem; }


/* Utilities
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.u-full-width {
  width: 100%;
  box-sizing: border-box; }
.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; }
.u-pull-right {
  float: right; }
.u-pull-left {
  float: left; }


/* Misc
–––––––––––––––––––––––––––––––––––––––––––––––––– */
hr {
  margin-top: 3rem;
  margin-bottom: 3.5rem;
  border-width: 0;
  border-top: 1px solid #E1E1E1; }

.text-left{
    text-align: left;
}

.text-right{
    text-align:right;
}

.text-center{
    text-align:center;
}
.right{float:right;}
.left{float:left;}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }



/*********** Universal CSS code ******************/

.logo-home{
    position: absolute;
    left:30px;
    top: 25px;
    z-index: 2;
}

.welcome-text{
    width: 100%; 
    padding: 10px 0;
    position: fixed;
    z-index: 10;
    top: 60%;
    background:rgba(0, 0, 0, 0.2);
}

.welcome-text p.message{
    text-align: justify;
    color: #fff;
    margin: 0 auto 25px;
    width:670px;
    font-size: 18px;
}

.find-memories-btn{
    text-align: center;
    width: 100%;
}

.find-memories-btn a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-family: 'quicksandlight';
    border:1px solid #fff;
    padding: 15px 20px;
}

.overlay{
    position: absolute;
    z-index: 2001;
    background:rgba(0,0,0,0.4);
    width:100%;
    height: 100%;
}

.team-select-box{
    background: #fff;
    width: 90%;
    max-width:1000px;
    margin:15% auto 0;
    text-align: center;
    padding: 20px 10px;
}

.team-selection{
    width: 90%;
    max-width:800px;
    margin: 10px auto;
}

.team-select-box h3{
 color: #2f2f2f;
    font-size: 30px;
    font-family: 'quicksandlight';
}

.team-selection a{
    margin:20px 20px;
    display: inline-block;
}

.close-team-selection{
    font-size:14px;
    font-family: 'quicksandregular';
    color: #000;
    text-decoration: none;
    float:right;
    margin: -10px 0 0 20px;
    display: block;
}

.close-team-selection:hover{
    text-decoration:underline;
    color: #000;
}


/******* Team Gallery Box CSS *******/

.team-gallery-box{
    width: 90%;
    max-width:1000px;
    margin:15% auto 0;
    text-align: center;
    padding: 20px 10px;
}

.team-gallery-box-selection{
    width:100%;
    max-width:800px;
    margin: 10px auto;
}

.team-gallery-box h3{
     font-size: 30px;
    font-family: 'quicksandlight';
}

.team-gallery-box-selection label{
    font-size: 20px;
    font-family: 'quicksandregular';
    font-weight: normal;
    display: inline-block;
    min-width: 200px;
}

.team-gallery-box-selection select{
    font-size: 20px;
    font-family: 'quicksandregular';
    font-weight: normal;
    display: inline-block;
    min-width: 240px;
    width:70%;
    height:60px;
    border-radius: 0;
    outline: none;
    border: none;
    
}

.close-gallery-selection{
    font-size:14px;
    font-family: 'quicksandregular';
    text-decoration: none;
    float:right;
    margin: -10px 0 0 20px;
    display: block;
}

.close-gallery-selection:hover{
    text-decoration:underline;
    color: #fff;
}

.option-and{
    font-family: 'latolight';
    font-size: 32px;
    margin-bottom: 10px;
}

.switch-team{
    font-size:18px;
    font-family: 'quicksandregular';
    text-decoration: none;
    float:right;
    margin:50px 0 0 0px;
    display: block;
}

.switch-team:hover{
    text-decoration:underline;
    color: #fff;
}


.team-gallery-box-selection select option{
        padding: 10px 0;
        text-indent: 10px;
    font-size:14px;
    }




/******* Gallery Listing ************/

.header{
    float: left;
    width: 100%;
    position: fixed;
    padding: 25px 0;
    z-index: 1;
    /*height:32px;*/
}

.header .logo{
    float: left;
    position: relative;
    padding:0;
    margin: 0 0 0 40px;
}

/******* Angels Theme ************/


.angels-theme{
    background:#b80020 url('../images/angels-theme.jpg') top center no-repeat;
}

.angels-theme .close-gallery-selection,
.angels-theme .switch-team{
    color: #fff;
}

.angels-theme h3{
 color: #fff;
}


.angels-theme .team-gallery-box-selection{
    color: #fff;
}

.angels-theme .team-gallery-box-selection select{
    color: #000;
}

.angels-theme-page .header{
    background:#96011b;
}

.menu-bar-style{
    color:#fff;
    margin-right: 20px;
    text-decoration: none;
    font-size: 28px;
    cursor: pointer;
    line-height:30px;
}
.menu-bar-style:hover{
    color:#fff;
    text-decoration: none;
}

/******* Ccubs Theme ************/


.ccubs-theme{
    background:#3c64bc url('../images/ccubs-theme.jpg') top center no-repeat;
}

.ccubs-theme .close-gallery-selection,
.ccubs-theme .switch-team{
    color: #fff;
}

.ccubs-theme h3{
 color: #fff;
}


.ccubs-theme .team-gallery-box-selection{
    color: #fff;
}

.ccubs-theme .team-gallery-box-selection select{
    color: #000;
}


/******* Orioles Theme ************/


.orioles-theme{
    background:#d25a22 url('../images/orioles-theme.jpg') top center no-repeat;
}

.orioles-theme .close-gallery-selection,
.orioles-theme .switch-team{
    color: #fff;
}

.orioles-theme h3{
 color: #fff;
}


.orioles-theme .team-gallery-box-selection{
    color: #fff;
}

.orioles-theme .team-gallery-box-selection select{
    color: #000;
}

/******* Rays Theme ************/


.rays-theme{
    background:#10335f url('../images/rays-theme.jpg') top center no-repeat;
}

.rays-theme .close-gallery-selection,
.rays-theme .switch-team{
    color: #fff;
}

.rays-theme h3{
 color: #fff;
}


.rays-theme .team-gallery-box-selection{
    color: #fff;
}

.rays-theme .team-gallery-box-selection select{
    color: #000;
}


/******* Redsox Theme ************/


.redsox-theme{
    background:#ba1c24 url('../images/redsox-theme.jpg') top center no-repeat;
}


.redsox-theme .close-gallery-selection,
.redsox-theme .switch-team{
    color: #fff;
}

.redsox-theme h3{
 color: #fff;
}


.redsox-theme .team-gallery-box-selection{
    color: #fff;
}

.redsox-theme .team-gallery-box-selection select{
    color: #000;
}


/******* KC Royals Theme ************/


.kcroyals-theme{
    background:#1f437a url('../images/kc-royal-theme.jpg') top center no-repeat;
}

.kcroyals-theme .close-gallery-selection,
.kcroyals-theme .switch-team{
    color: #fff;
}

.kcroyals-theme h3{
 color: #fff;
}


.kcroyals-theme .team-gallery-box-selection{
    color: #fff;
}

.kcroyals-theme .team-gallery-box-selection select{
    color: #000;
}


/******* Gaints Theme ************/


.gaints-theme{
    background:#d25b24 url('../images/gaints-theme.jpg') top center no-repeat;
}

.gaints-theme .close-gallery-selection,
.gaints-theme .switch-team{
    color: #fff;
}

.gaints-theme h3{
 color: #fff;
}


.gaints-theme .team-gallery-box-selection{
    color: #fff;
}

.gaints-theme .team-gallery-box-selection select{
    color: #000;
}


/************  Gallery page  *********************/


.gallery-wrap{
    display:table; 
    height:100%; 
    margin-top:60px;
}

.container-gallery:before,
.container-gallery:after {
    content: "";
    display: table-cell;
    vertical-align: top;
}

.container-gallery:after {
    clear: both;
}

.item {
    float: left;
    margin-bottom:3px;
}

.item img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
}

.first-item {
    clear: both;
}

/* remove margin bottom on last row */
.last-row, .last-row ~ .item {
    margin-bottom: 0;
}

.side-panel{
    overflow: hidden; 
    background:#f2f2f2;
    display:table-cell;
    width:300px; 
    height:100%;
}

.side-fold{
    padding: 0 10px;
    border-left: 10px solid #fff;
}

.game-gallery-note{
    color: #4f4f4f;
    font-size: 18px;
    font-family: 'latolight';
    line-height: 32px;
    display: block;
    text-align: center;
}

.game-gallery-note span{
    color: #8c2633;
}

.game-gallery-options{
    display: block;
    text-align: center;
    width:80%;
    min-width: 240px;
    margin:5px auto 10px;
}

.side-panel select{
    width: 100%;
    float: none;
    color: #434343;
    font-size: 16px;
    border-radius: 0;
    border:1px solid #d1d1d1;
    height: 45px;
    
}

.photo-count{
    color: #464141;
    font-size: 20px;
    font-family: 'quicksandregular';
    line-height:32px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0 20px;
}

.photo-count span{
    color: #8c2633;
    font-size: 36px;
}

.proceed-btn{
    background: #8c2633;
    border-radius: 0;
    color: #fff;
    border: none;
    outline: none;
    font-size: 16px;
    display: block;
    width:90%;
    min-width: 240px;
    margin: 10px auto;
    font-weight:normal;
    font-family: 'quicksandregular';
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
}

.switchteam-btn{
    background: #2c2c2c;
    border-radius: 0;
    color: #fff;
    border: none;
    margin: 10px auto;
    outline: none;
    font-size: 16px;
    display: block;
    width:90%;
    min-width: 240px;
    font-weight:normal;
    font-family: 'quicksandregular';
    text-align: center;
    padding: 20px 0;
    cursor: pointer;
}

.proceed-btn:hover,
.switchteam-btn:hover{
    color: #fff;
}

.info-data{
    display:block;
    float: right;
    position: fixed;
}

#top-panel{
    margin-top:100px;
}


/************ Custom checkbox *********************/

.checkbox {
	width: 25px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(../images/checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: right;
	position:absolute;
	margin:10px 0 0 10px;
}

.item input[type="checkbox"]{
	position:absolute;
	float:right;
}

/*********** Media Query CSS code ******************/


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/




/* Smartphones (portrait and landscape) ----------- */

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {

        .welcome-text p.message{
            width:280px;
            font-size: 14px;
        }

        .welcome-text{
            width: 100%; 
            padding: 10px 0;
            position: fixed;
            z-index: 10;
            top:40%;
        }
        .team-select-box{
            margin: 5% auto 0;
            padding:15px 10px;
        }
        .team-selection a{
            margin:5px 10px;
            display: inline;
        }


        .team-select-box h3{
            color: #2f2f2f;
            font-size:20px;
            font-family: 'quicksandlight';
        }
        .team-selection a img{
            width: 80px;
        } 
        .team-gallery-box{
            margin:5% auto 0;
            padding:20px 10px 80px;
        }
        .team-gallery-box h3{
            font-size:20px;
        }
        .team-gallery-box-selection select{
            font-size:16px;
            height:45px;
        }
        .option-and{
            font-size: 22px;
        }
        .team-gallery-box-selection label{
            font-size:16px;
        }
        .team-gallery-box-selection label{
            display: none;
        }
        .switch-team{
            margin: 15px 0 0 0;
            float:right;
        }

}


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {

        .welcome-text p.message{
            width:280px;
            font-size: 14px;
        }

        .team-selection a{
            margin:5px 10px;
            display: inline;
        }
    
}



/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {

    .welcome-text p.message{
        width:280px;
        font-size: 14px;
    }
    .team-selection a{
        margin:5px 10px;
        display: inline;
    }
    .team-selection a img{
        width: 80px;
    } 

}

/* Smartphones  ----------- */
@media only screen 
and (min-width : 480px)    
and (max-width : 660px) {

    .welcome-text p.message{
        width:378px;
        font-size: 14px;
    }

    .welcome-text{
        width: 100%; 
        padding: 10px 0;
        position: fixed;
        z-index: 10;
        top:40%;
    }

    .team-selection a{
        margin:5px 10px;
        display: inline;
    }
    
    .team-selection a img{
        width: 100px;
    }    
    .team-gallery-box{
            padding:20px 0 100px;
        }
}


/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {

    .welcome-text p.message{
        width:670px;
        font-size: 18px;
    }

    .team-select-box h3{
        color: #2f2f2f;
        font-size: 30px;
        font-family: 'quicksandlight';
    }

    .team-selection a{
        margin:20px 20px;
        display: inline-block;
    }    
    .team-gallery-box{
        margin:10% auto 0;
        min-height:500px;
    }
    .team-gallery-box h3{
        margin:15px 0 20px;
        display: block;
        font-size: 25px;
    }
    .switch-team{
        margin:30px 0 0 0;
    }

}


/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {

    .welcome-text p.message{
        width:670px;
        font-size: 18px;
    }
    .team-select-box h3{
        color: #2f2f2f;
        font-size: 30px;
        font-family: 'quicksandlight';
    }

    .team-selection a{
        margin:20px 20px;
        display: inline-block;
    }
    .switch-team{
        margin:50px 0 0 0;
    }
}




/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {

    .welcome-text p.message{
        width:670px;
        font-size: 18px;
    }
    
    .team-select-box h3{
        color: #2f2f2f;
        font-size: 30px;
        font-family: 'quicksandlight';
    }

    .team-selection a{
        margin:20px 20px;
        display: inline-block;
    }

}


/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px)
and (max-width : 1370px){

    .welcome-text p.message{
        width:670px;
        font-size: 18px;
    }
    .team-select-box h3{
        color: #2f2f2f;
        font-size: 30px;
        font-family: 'quicksandlight';
    }

    .team-selection a{
        margin:20px 20px;
        display: inline-block;
    }
    .team-gallery-box{
    margin:10% auto 0;
        min-height:450px;
}

    .team-gallery-box h3{
        margin:30px 0 50px;
        display: block;
    }
    
    .team-select-box{
        margin:10% auto 0;
    }
}

#close-panel{
    font-size: 20px;
    font-family: 'quicksandlight';
    color: #2c2c2c;
    margin: 10px 0 20px;
    float: left;
    cursor: pointer;
}


/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {

    .welcome-text p.message{
        width:670px;
        font-size: 18px;
    }
    .team-select-box h3{
        color: #2f2f2f;
        font-size: 30px;
        font-family: 'quicksandlight';
    }

    .team-selection a{
        margin:20px 20px;
        display: inline-block;
    }

    .team-gallery-box{
    margin:10% auto 0;
        min-height:450px;
}

}



@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 800px) {
    .side-panel{
        display: none;
    }
    
}


@media only screen 
and (min-device-width : 800px) 
and (max-device-width : 2100px) {
    
    #open-toppanel{display: none;}
    .side-panel{
        display: table-cell;
    }
}